.listar-acomodacao {
    padding: 20px;
    margin: 0 10px;
  }
  
  .listar-acomodacao h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #201E43;
  }
  
  .listar-acomodacao .filtros {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin-right: 20%;
  }
  
  .listar-acomodacao .filtro-linha {
    display: flex;
    gap: 15px;
  }
  
  .listar-acomodacao .filtro-linha input,
  .listar-acomodacao .filtro-linha select {
    padding: 10px;
    font-size: 0.8rem;
    border: 1.5px solid #134B70;
    border-radius: 8px;
    background-color: white;
    color: #201E43;
  }
  
  .listar-acomodacao .filtro-linha input:focus,
  .listar-acomodacao .filtro-linha select:focus {
    border-color: #2C7BB6;
    outline: none;
  }
  
  .listar-acomodacao .filtro-pequeno {
    flex: 1;
    max-width: 30%;
  }
  
  .listar-acomodacao .filtro-largo {
    flex: 3;
  }
  
  .listar-acomodacao .lista-acomodacoes {
    margin-top: 20px;
  }
  
  .listar-acomodacao .lista-acomodacoes ul {
    list-style-type: none;
    padding: 0;
  }
  
  .listar-acomodacao .lista-acomodacoes li {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
  }
  
  .listar-acomodacao .cliente-info {
    text-align: left;
    margin-left: 20px;
  }
  
  .listar-acomodacao .cliente-info h3 {
    font-size: 1.5em;
    color: #201E43;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 20px;
  }
  
  .listar-acomodacao .cliente-info p {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
  }
  
  .listar-acomodacao .cliente-info p strong {
    color: #134B70;
    font-weight: bold;
    min-width: 120px;
  }
  
  .listar-acomodacao .cliente-info p.acomodacao {
    font-weight: bold;
    color: #2C7BB6;
  }
  