.home {
  padding-top: 0;
}

.banner-topo {
  width: 100%; 
  height: auto; 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  height: 200px; 
  z-index: -1; 
}

.conteudo {
  padding: 20px;
  max-width: 800px;
  position: relative; 
  padding-top: 140px; 
}

h2 {
  margin-top: 0;
}

.atlantis-text {
  background: linear-gradient(to bottom, #201E43, #248FD6);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  text-fill-color: transparent;
}

.descricao {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.icon {
  width: 24px; 
  height: 24px;
  margin-right: 8px;
  flex-shrink: 0;
}

.info-text {
  display: flex;
  flex-direction: column; 
}

.titulo {
  font-weight: bold;
  font-size: 1.3rem;
}

.contato {
  color: #134B70; 
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.container{
  margin-top: 32px;
}

.contato:hover {
  text-decoration: underline; 
}
